---
- name: Set zlib and pam packages
  ansible.builtin.set_fact:
    zlib_pkg: "{{ (ansible_facts['os_family'] | lower == 'redhat') | ternary('zlib-devel', 'zlib1g-dev') }}"
    pam_pkg: "{{ (ansible_facts['os_family'] | lower == 'redhat') | ternary('pam-devel', 'libpam0g-dev') }}"

- name: Install dependencies
  ansible.builtin.package:
    name:
      - gcc
      - make
      - gpg
      - "{{ zlib_pkg }}"
      - "{{ pam_pkg }}"
    update_cache: true
    state: present

- name: Include verification tasks
  ansible.builtin.include_tasks:
    file: verify.yml

- name: Create temporary build directory
  ansible.builtin.tempfile:
    state: directory
    suffix: build
  register: tmp_dir

- name: Download OpenSSH sources
  ansible.builtin.get_url:
    url: "{{ download_url }}"
    dest: "{{ tmp_dir.path }}/openssh-{{ openssh_version }}.tar.gz"
    owner: root
    group: root
    mode: '0644'
  register: openssh_source

- name: Unpacking OpenSSH
  ansible.builtin.unarchive:
    copy: false
    dest: "{{ tmp_dir.path }}"
    src: "{{ openssh_source.dest }}"

- name: Set install_dir
  ansible.builtin.set_fact:
    build_dir: "{{ tmp_dir.path }}/openssh-{{ openssh_version }}"

- name: Delete old ssh configs
  ansible.builtin.file:
    path: "{{ item }}"
    state: absent
  loop:
    - /etc/ssh/ssh_config
    - /etc/ssh/sshd_config
  when: ansible_facts['os_family'] | lower == "redhat"

- name: Configure OpenSSH
  ansible.builtin.command: "./configure --prefix=/usr --sysconfdir=/etc/ssh --with-pam --with-ssl-engine"
  args:
    chdir: "{{ build_dir }}"
    creates: "{{ build_dir }}/Makefile"

- name: Make OpenSSH
  ansible.builtin.shell: make -j$(nproc) > /dev/null
  args:
    chdir: "{{ build_dir }}"
    creates: "{{ build_dir }}/libssl.so"

- name: Install OpenSSH
  ansible.builtin.command: make install
  args:
    chdir: "{{ build_dir }}"

- name: Find all SSH host keys
  ansible.builtin.find:
    paths: /etc/ssh
    patterns: "ssh_host_*_key"
  register: ssh_host_keys
  when: ansible_facts['os_family'] | lower == "redhat"

- name: Set permissions on SSH host keys
  ansible.builtin.file:
    path: "{{ item.path }}"
    owner: root
    group: root
    mode: '0600'
  loop: "{{ ssh_host_keys.files }}"
  when: ansible_facts['os_family'] | lower == "redhat"

- name: Delete temporary directory
  ansible.builtin.file:
    path: "{{ tmp_dir.path }}"
    state: absent

- name: Restart SSH
  ansible.builtin.service:
    name: sshd
    state: restarted

- name: Refresh ssh connection
  ansible.builtin.meta: reset_connection